<html>
    <head>
        <title>top</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Hello World !!</h1>
		<ul>
		<li><a href="./settings">Settings</a> replyのON/OFF</li>
		<li><a href="./learn_tweet_all">Learn Tweet All</a> 一括データ収集</li>
		<li><a href="./check_sentence">Check Sentence</a> マルコフ生成文章のチェック</li>
		<li><a href="./make_sentence">Make Sentence</a> マルコフ生成文章の生成を促す（100個になるように）</li>
		<li></li>
		<li><a href="./tweet">Tweet</a> 自動tweet</li>
		<li><a href="./autotreply">Auto Reply</a> 自動reply</li>
		<li><a href="./delete_memcache">Delete Memcache</a> マルコフ生成文章を削除</li>
		</ul>
    </body>
</html>
